footer {
    width: 100%;
    min-width: 320px;
    height: 8vh;
    /* border-top: 1px solid #767676; */
    font-size: 0.8em;
    padding: 0px 40px;
    background-color: #F5F5F5;
    box-shadow: 0px 3px 7.5px rgba(0, 0, 0, 0.1);

    position: fixed;
    bottom: 0;
    z-index: 2;

    display: flex;
    justify-content: space-between;
    align-items: center;

    user-select: none;
}

.footer-pop-up {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 50%;
    border-radius: 1rem;
    padding: 3rem;
    color: #484848;
    background-color: #FFFFFF;  
}

.footer-terms {
    gap: 20px;
    color: #484848;
}

.footer-item-left {
    cursor: pointer;
}

.footer-item-left:hover {
    color: black;
    transform: scale(1.01);
    border-bottom: 1px solid #484848;
}

.footer-item-right {
    cursor: pointer;
}

.footer-item-right:hover {
    color: #767676;
    transform: scale(1.01);
}

.footer-options {
    gap: 15px;
    font-weight: 500;
}

.slider {
    background-color: white;
    width: 2rem;
    height: 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    /* transition: color 0.3s ease-out; */
    box-shadow: 0px 3px 7.5px rgba(0, 0, 0, 0.2);
}

.slider-active {
    background-color: #5B51D8;
    width: 1rem;
    height: 1rem;
    border-radius: 0.5rem;
    transition: transform 0.3s ease-out;
}

.language {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1rem;
    padding: 1rem 0;
    background-color: #FFFFFF;
    /* div helps to hide the border radius for the scroll bar */
}

.language-container {

    height: 300px;
    padding: 3rem;
    color: #484848;
    overflow: auto;
    background-color: #FFFFFF;
}

.language-grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
}

.language-button {
    width: 100px;
    padding: 0.8rem;
    border-radius: 0.5rem;
    text-align: center;
    background-color: #FFFFFF;
    cursor: pointer;
}

.language-button:hover {
    background-color: #F5F5F5;
}

.language-title {
    border-bottom: 1px solid lightgrey;
    padding-bottom: 1rem;
}

.language-text {
    font-size: 0.8rem;
    margin: 0;
}