* {
    box-sizing: border-box;
    font-family: Montserrat, sans-serif;
}

/* colors
    blue: #5B51D8
    lighter blue: #A4B8EE
    dark gray: #484848
    light gray: #767676
    Lighter gray: #C7C7C7
    lighter white grey: E0E0E0
    Off-white: #F5F5F5
*/

.light-grey {
    color: #767676;
}

.underline {
    border-bottom: 1px solid lightgrey;
}

body {
    margin: 0;
}

.app-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-width: 320px;

    box-shadow: 0 3px 7.5px rgba(0, 0, 0, 0.1);
    height: 15vh;
    z-index: 2;
    /* position: relative; */
    /* margin-bottom: 10px; */
}

main {
    z-index: 1;
    /* background-image: url(src/images/modern-home1.jpg); */
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    flex: 1;
    position: relative;
    width: clamp(320px, 100%, 1920px);
    display: flex;
    margin: 0;

    box-shadow: 5px 0px 3px -3px rgba(0, 0, 0, 0.1),
                -5px 0px 3px -3px rgba(0, 0, 0, 0.1);

    /* border: 1px solid red; */
}

.section-title {
    font-weight: 500;
    font-size: 1.8em;
    margin: 5rem 0;
    color: #484848;
    /* border: 1px solid red; */
}

.bold {
    font-weight: bold;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-horizontal {
    display: flex;
    justify-content: center;
}

.title-container {
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 1rem;
    padding: 0 0.5rem;
    border-radius: 0.8rem;
    cursor: pointer;

    /* border: 1px solid red; */

}

.title-icon {
    color: white;
    background-color: #5B51D8;
    border-radius: 5px;

    margin-right: 0.5rem;
    padding: 2px;
}

.title-name {
    color: #5B51D8;
    font-size: 1.5em;
}

.profile-container {
    display: flex;
    justify-content: center;
    align-items: center;

    padding: 5px 10px;
    border-radius: 10px;
    margin: 10px;

    /* border: 1px solid red; */
}

.profile-description {
    font-size: 0.8em;
    font-weight: 500;
    margin-right: 5px;
    border-radius: 1rem;
    padding: 0.6rem;
    cursor: pointer;
}

.profile-description:is(:hover, :focus) {
    background-color: #F5F5F5;
}

.profile-button {
    height: 2rem;
    width: 2rem;
    background-color: #5B51D8;
    border-radius: 50%;
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: transform 0.3s ease-out;
    cursor: pointer;
}

.profile-button:hover {
    transform: scale(1.03);
}

.dropdown-container {
    opacity: 0;
    overflow: hidden;
    transition: all 0.5s ease-out;
}

.dropdown-container.active {
    opacity: 1;
    transition: all 0.5s ease-out;
}